<div style="display: flex">
  <div style="flex: 1" style="margin: 20px">
    <a href="assets/2DCFE7E6-BA4E-4FDB-AD72-98E08762C863/develope.html?application=dev.sh_d">
      電子報表(家長)
    </a>(預設連至 dev.sh_d)<br>
    <a href="assets/b3271aa2-f9d7-43b5-bcae-a36e058fda07/develope.html?application=dev.sh_d">
      電子報表(學生)
    </a>(預設連至 dev.sh_d)<br>
    <a href="assets/7a29929b-6978-4ebc-be04-5eb4b8aa1fa7/develope.html?application=dev.sh_d">
      電子報表(老師)
    </a>(預設連至 dev.sh_d)<br>
    <br>
    <a href="assets/2DCFE7E6-BA4E-4FDB-AD72-98E08762C863/develope.html?application=demo.h.vicky.chang">
      電子報表(家長)
    </a>(預設連至 demo.h.vicky.chang)<br>
    <a href="assets/b3271aa2-f9d7-43b5-bcae-a36e058fda07/develope.html?application=demo.h.vicky.chang">
      電子報表(學生)
    </a>(預設連至 demo.h.vicky.chang)<br>
    <a href="assets/7a29929b-6978-4ebc-be04-5eb4b8aa1fa7/develope.html?application=demo.h.vicky.chang">
      電子報表(老師)
    </a>(預設連至 demo.h.vicky.chang)<br>
    <br>
    <a href="assets/2DCFE7E6-BA4E-4FDB-AD72-98E08762C863/develope.html?application=demo.h.jeffrey.chia">
      電子報表(家長)
    </a>(預設連至 demo.h.jeffrey.chia)<br>
    <a href="assets/b3271aa2-f9d7-43b5-bcae-a36e058fda07/develope.html?application=demo.h.jeffrey.chia">
      電子報表(學生)
    </a>(預設連至 demo.h.jeffrey.chia)<br>
    <a href="assets/7a29929b-6978-4ebc-be04-5eb4b8aa1fa7/develope.html?application=demo.h.jeffrey.chia">
      電子報表(老師)
    </a>(預設連至 demo.h.jeffrey.chia)<br>
  </div>

  <mat-card>
    <div style="flex: 1">

      ＝＝＝＝＝＝＝＝電子報表＝＝＝＝＝＝＝＝＝＝<br>
      說明:<br>
      電子報表新版本<br>
    </div>
  </mat-card>

</div>


<div style="display: flex">
  <div style="flex: 1" style="margin: 20px">

    <a href="assets/604bbbc5-7907-4eaa-b134-e387801b1e0d/index.html?application=dev.sh_d">
      設備報修
    </a>(預設連至 dev.sh_d)<br>
    <a href="assets/604bbbc5-7907-4eaa-b134-e387801b1e0d/index.html?application=test.sivs.chc.edu.tw">
      設備報修
    </a>(預設連至 test.sivs.chc.edu.tw)<br>
    <a href="assets/604bbbc5-7907-4eaa-b134-e387801b1e0d/index.html?application=demo.h.vicky.chang">
      設備報修</a>(預設連至 demo.h.vicky.chang)<br>
  </div>

  <mat-card>
    <div style="flex: 1">
      ＝＝＝＝＝＝＝＝彰工 設備報修＝＝＝＝＝＝＝＝<br>
      說明:<br>
      設備報修提供各種身份報修,包含訪客,老師,學生 都可以透過本模組進行報修單的提交<br>

    </div>
  </mat-card>
</div>
<br>
<div style="display: flex">
  <div style="flex: 1" style="margin: 20px">
    <a href="assets/c1ebfca6-f0fa-4b27-90eb-a9eaf29d7ed9/index.html?application=dev.sh_d">
      課堂點名
    </a>(預設連至 dev.sh_d)<br>
    <a href="assets/c1ebfca6-f0fa-4b27-90eb-a9eaf29d7ed9/index.html?application=demo.h.vicky.chang">
      課堂點名
    </a>(預設連至 demo.h.vicky.chang)<br>
  </div>

  <mat-card>
    <div style="flex: 1">

      ＝＝＝＝＝＝＝＝課堂點名＝＝＝＝＝＝＝＝＝＝<br>
      說明:<br>
      使用課堂點名 身份需為老師,且具有帶班班級或課程<br>
      1.[班導]可點名[帶班班級]的[升旗或午休]顯示在[今日點名]清單內<br>
      2.[課程評分老師]預設在[課程]清單內會顯示可點名之課程<br>
      3.所有曾經點過的課程,都會顯示在[今日點名]｀供快速點名之用<br>
      4.代課課程按鈕,任何老師皆可點名,但須依序選擇年級/班級/課程/節次...等資料
    </div>
  </mat-card>

</div>
