<div class="container" style="margin: 20px">
  <div><a href="assets/9F4D4C64-7898-495A-B3B9-4633EA156ED9_Dylan/content.htm?application=j.kh.edu.tw">
    高雄 OpenID
  </a>(預設連至 j.kh.edu.tw)<br></div>
  <br>
  <div>電子報表 - 20191009 </div>
  <div><a href="assets/2DCFE7E6-BA4E-4FDB-AD72-98E08762C863_Dylan/develope.html?application=dev.sh_d">
    電子報表(家長)
  </a>(預設連至 dev.sh_d,以Dylan快速登入)</div>
  <div><a href="assets/b3271aa2-f9d7-43b5-bcae-a36e058fda07_Dylan/develope.html?application=dev.sh_d">
    電子報表(學生)
  </a>(預設連至 dev.sh_d,以Dylan快速登入)</div>
  <div><a href="assets/7a29929b-6978-4ebc-be04-5eb4b8aa1fa7_Dylan/develope.html?application=dev.sh_d">
    電子報表(老師)
  </a>(預設連至 dev.sh_d,以Dylan快速登入)</div>
  <br>
  <div><a href="assets/2DCFE7E6-BA4E-4FDB-AD72-98E08762C863_Jeffrey/develope.html?application=demo.h.jeffrey.chia">
    電子報表(家長)
  </a>(預設連至 demo.h.jeffrey.chia,以Dylan快速登入)</div>
  <div><a href="assets/b3271aa2-f9d7-43b5-bcae-a36e058fda07_Jeffrey/develope.html?application=demo.h.jeffrey.chia">
    電子報表(學生)
  </a>(預設連至 demo.h.jeffrey.chia,以Dylan快速登入)</div>
  <div><a href="assets/7a29929b-6978-4ebc-be04-5eb4b8aa1fa7_Jeffrey/develope.html?application=demo.h.jeffrey.chia">
    電子報表(老師)
  </a>(預設連至 demo.h.jeffrey.chia,以Dylan快速登入)</div>
  <br>
  <div><a href="assets/604bbbc5-7907-4eaa-b134-e387801b1e0d_Dylan/index.html?application=dev.sh_d">
      設備報修
    </a>(預設連至 dev.sh_d,以Dylan快速登入)</div>
  <div><a href="assets/604bbbc5-7907-4eaa-b134-e387801b1e0d_bubu/index.html?application=dev.sh_d">
      設備報修
    </a>(預設連至 dev.sh_d,以bubu快速登入)</div>
  <br>
  <div><a href="assets/c1ebfca6-f0fa-4b27-90eb-a9eaf29d7ed9_Dylan/index.html?application=dev.sh_d">
      課堂點名
    </a>(預設連至 dev.sh_d,以Dylan快速登入)</div>
  <div><a href="assets/c1ebfca6-f0fa-4b27-90eb-a9eaf29d7ed9_bubu/index.html?application=dev.sh_d">
      課堂點名
    </a>(預設連至 dev.sh_d,以bubu快速登入)</div>
</div>
