<div class="container" style="margin: 20px">
  <br>
  <div>線上選課 3.0 - 20210908</div>
  <div><a href="assets/B62BABC4-CDE8-465F-BC7A-C0DE2ACB91EE_Dylan/develope.html">
    線上選課 3.0
  </a>(預設連至 demo.h.beibei.lai,以Dylan快速登入)</div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div><a href="assets/5edbf8ee-d9f1-4007-acf9-0c159d04256d/develope.html?application=dev.sh_d">
    體溫記錄查詢
  </a>(預設連至 dev.sh_d)</div>
  <br>
  <div>電子報表 - 20191009 </div>
  <div><a href="assets/2DCFE7E6-BA4E-4FDB-AD72-98E08762C863_Dylan/develope.html?application=dev.sh_d">
    電子報表(家長)
  </a>(預設連至 dev.sh_d,以Dylan快速登入)</div>
  <div><a href="assets/b3271aa2-f9d7-43b5-bcae-a36e058fda07_Dylan/develope.html?application=dev.sh_d">
    電子報表(學生)
  </a>(預設連至 dev.sh_d,以Dylan快速登入)</div>
  <div><a href="assets/7a29929b-6978-4ebc-be04-5eb4b8aa1fa7_Dylan/develope.html?application=dev.sh_d">
    電子報表(老師)
  </a>(預設連至 dev.sh_d,以Dylan快速登入)</div>
  <br>
  <div><a href="assets/2DCFE7E6-BA4E-4FDB-AD72-98E08762C863_Jeffrey/develope.html?application=demo.h.jeffrey.chia">
    電子報表(家長)
  </a>(預設連至 demo.h.jeffrey.chia,以Dylan快速登入)</div>
  <div><a href="assets/b3271aa2-f9d7-43b5-bcae-a36e058fda07_Jeffrey/develope.html?application=demo.h.jeffrey.chia">
    電子報表(學生)
  </a>(預設連至 demo.h.jeffrey.chia,以Dylan快速登入)</div>
  <div><a href="assets/7a29929b-6978-4ebc-be04-5eb4b8aa1fa7_Jeffrey/develope.html?application=demo.h.jeffrey.chia">
    電子報表(老師)
  </a>(預設連至 demo.h.jeffrey.chia,以Dylan快速登入)</div>
  <br>
  <div><a href="assets/604bbbc5-7907-4eaa-b134-e387801b1e0d_Dylan/index.html?application=dev.sh_d">
      設備報修
    </a>(預設連至 dev.sh_d,以Dylan快速登入)</div>
  <div><a href="assets/604bbbc5-7907-4eaa-b134-e387801b1e0d_bubu/index.html?application=dev.sh_d">
      設備報修
    </a>(預設連至 dev.sh_d,以bubu快速登入)</div>
  <br>
  <div><a href="assets/c1ebfca6-f0fa-4b27-90eb-a9eaf29d7ed9_Dylan/index.html?application=dev.sh_d">
      課堂點名
    </a>(預設連至 dev.sh_d,以Dylan快速登入)</div>
  <div><a href="assets/c1ebfca6-f0fa-4b27-90eb-a9eaf29d7ed9_bubu/index.html?application=dev.sh_d">
      課堂點名
    </a>(預設連至 dev.sh_d,以bubu快速登入)</div>
</div>
