<div class="container" style="margin: 20px">
  <div><a href="assets/604bbbc5-7907-4eaa-b134-e387801b1e0d_Dylan/index.html?application=dev.sh_d">
      設備報修
    </a>(預設連至 dev.sh_d,以Dylan快速登入)</div>
  <div><a href="assets/604bbbc5-7907-4eaa-b134-e387801b1e0d_bubu/index.html?application=dev.sh_d">
      設備報修
    </a>(預設連至 dev.sh_d,以bubu快速登入)</div>
  <br>
  <div><a href="assets/c1ebfca6-f0fa-4b27-90eb-a9eaf29d7ed9_Dylan/index.html?application=dev.sh_d">
      課堂點名
    </a>(預設連至 dev.sh_d,以Dylan快速登入)</div>
  <div><a href="assets/c1ebfca6-f0fa-4b27-90eb-a9eaf29d7ed9_bubu/index.html?application=dev.sh_d">
      課堂點名
    </a>(預設連至 dev.sh_d,以bubu快速登入)</div>
</div>
